In [150]:
import pandas as pd
import numpy as np

In [172]:
# Importação dos Dados
df = pd.read_csv('dataset.CSV', ';')

pd.set_option('display.max_rows', df.shape[0]+1)

# Remova as linhas em branco nos dados, se houver
df.dropna(inplace=True)

In [144]:
df

   Primeiro Nome         Sobrenomes  Peso (kg)  Altura (m)
0         FELIPE      NEVES DA HORA      70.60        1.69
1         SANDRO            BARBOSA      90.50        1.73
2         MAYCON  DA SILVA FERREIRA     100.01        1.82
3       JEFERSON           OLIVEIRA      80.04        1.75
4         MANUEL       GOMES VIEIRA      63.05        1.80
..           ...                ...        ...         ...
94          LUNA         LUNARA LUA      70.00        1.86
95          HULK               JOSE      35.50        1.20
96         MARIA              GOMES      58.05        1.56
97         PAULO              ROCHA      98.07        2.00
98         LUANE   SANTANA TEIXEIRA      50.78        1.50

[98 rows x 4 columns]

In [173]:
# Função que muda todo o texto para maiúsculas
def upperlize(df, desired_cols):
    result = df.copy()
    for feature_name in desired_cols:
        result[feature_name] = [entry.upper() for entry in df[feature_name]]
    return result

#  Função que converte os valores da coluna Peso (kg) e Altura (m) para float
def floatlize(df, desired_cols):
    result = df.copy()
    for feature_name in desired_cols:
        result[feature_name] = pd.to_numeric(df[feature_name].str.replace(',','.'))
    return result

#  Função que retira os espaços extras das colunas Primeiro Nome e Sobrenomes
def striplize(df, desired_cols):
    result = df.copy()
    for feature_name in desired_cols:
        result[feature_name] = df[feature_name].str.split().str.join(' ').str.strip()
    return result

In [174]:
# Muda todo o texto para maiúsculas
df = upperlize(df,['Primeiro Nome','Sobrenomes'])

# Convertendo os valores da coluna Peso (kg) e Altura (m) para float
df = floatlize(df,['Peso (kg)','Altura (m)'])

# Retira os espaços extras das colunas Primeiro Nome e Sobrenomes
df = striplize(df,['Primeiro Nome','Sobrenomes'])

In [175]:
# Calcula o IMC
calc_IMC = round((df['Peso (kg)']) / (df['Altura (m)']**2), 2)

# Lista os resultados do IMC
List_calc_IMC = list(map(str, calc_IMC))

# Substitui os '.' por ','
List_calc_IMC = [sub.replace('.', ',') for sub in List_calc_IMC]

# Concatena as Strings para gerar a Saida esperada
Saida = df['Primeiro Nome']+ ' ' + df['Sobrenomes'] + ' ' + List_calc_IMC

In [ ]:
Saida

In [ ]:
# Saida
for val in Saida:
    print(val)

In [ ]:
#Salvar Saida em Arquivo .txt
with open("PauloHenriqueMirandaSa.txt", "w") as output:
    for val in Saida:
      output.write(str(val) + '\n')